In [2]:

l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [3]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l :
    pass

In [8]:
s = "sudh"
for i in s :   
    print(i)

s
u
d
h

In [9]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [10]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [11]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [13]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [14]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [15]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [16]:
type(b)

set

In [17]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [18]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [10]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [11]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [22]:
d['key1']

'sudh'

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [31]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [33]:
list(range(0,9 , -1))

[]

In [34]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [162]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sudh" , end = "     ")
    print("\n")

sudh

sudh     sudh

sudh     sudh     sudh

sudh     sudh     sudh     sudh

In [8]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "  *len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [1]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sudh ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [45]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("sudh",end=' ')
 
 print()

  sudh
 sudh sudh
sudh sudh sudh

In [74]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [49]:
list(range(0))

[]

In [50]:
t = (3,23,45,67,2,4,5,6)

In [55]:
t[0]

3

In [57]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [54]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [51]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [60]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [61]:
s

'ineuron'

In [69]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [12]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [13]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [121]:
l = ["sudh" , "kuamr" , 3234545 , "sudhanshu@ineuron.ai" , 345, 34345353, [1,2,3]]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [122]:
l1

[3234545, 345, 34345353]

In [77]:
 d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [79]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [80]:
s = "aaaabbccd"

In [83]:
for i in set(s):
    print(i  , ":" , s.count(i))

b : 2
a : 4
c : 2
d : 1

In [82]:
s.count('a')

4

In [16]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [85]:
str(i)

'34534654646435'

In [98]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [127]:
t=("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [128]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [7]:
d = {4:5 , "key1" : "ais" , "key2" : "abhi"}
print(d.keys(),d.values(),d.items())
#d.keys()

dict_keys([4, 'key1', 'key2']) dict_values([5, 'ais', 'abhi']) dict_items([(4, 5), ('key1', 'ais'), ('key2', 'abhi')])

In [1]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [135]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [137]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [105]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [107]:
a = 10 
b = 20
c = 30

In [108]:
a , b , c = 10 , 20 , 30

In [109]:
a,b,c = (10,20,30)

In [7]:
# n=4
# for i in range(n):
#     for j in range(0,i+1):
#         print("ineruon",end = ' ')
#     print("\n")    
for i in range(4):
    for j in range(i+1):
        print("abhi"*3, end ='*')
    print()

abhiabhiabhi*
abhiabhiabhi*abhiabhiabhi*
abhiabhiabhi*abhiabhiabhi*abhiabhiabhi*
abhiabhiabhi*abhiabhiabhi*abhiabhiabhi*abhiabhiabhi*

In [8]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print("ineruon",end = ' ')
    print("\n")

ineruon

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

In [28]:
n = 3

for i in range(n+1):
    print('  '*(n-i) + 'ais '*(i))
for i in range(n):
     print('  '*(i+1) + 'ais '*(n-i-1))

    ais
  ais ais
ais ais ais
  ais ais
    ais

In [35]:

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
# l1=[]
for i in l:
    if type(i)==list:
#         l1.append(i)
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [36]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
                
                #print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int: 
                l1.append(k)
                #print(k)
            if type(v)==int: 
                l1.append(v)
                #print(v)
print("numerical data : ",l1,"\n")


#q7 : Try to give summation of all the numeric data 
print("Sum of all the numeric data : ", sum(l1),"\n")


#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
l2=[]
for i in l1:
    if i % 2 == 1:
        l2.append(i)
print("Odd numbers: ",l2)

numerical data :  [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

Sum of all the numeric data :  156

Odd numbers:  [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [45]:
#q9 : Try to extract "ineruon" out of this data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=='ineuron':
                print(j)       
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if k=='ineuron':
                print(k) 
            if v=='ineuron':
                print(v)

ineuron
ineuron

In [62]:
#q10 :Try to find out a number of occurances of all the data 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
lis=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set or type(i)==dict:
        for j in i:
            lis.append(j)
    if type(i)==dict:
        for k,v in i.items():
            lis.append(k)
            lis.append(v)
print(lis)

# print(lis.count(1))

for k1 in lis:
    print (k1, ":" , lis.count(k1))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
1 : 1
2 : 2
3 : 5
4 : 4
2 : 2
3 : 5
4 : 4
5 : 3
6 : 3
3 : 5
4 : 4
5 : 3
6 : 3
7 : 3
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 2
k2 : 2
k3 : 2
3 : 5
7 : 3
k1 : 2
sudh : 1
k2 : 2
ineuron : 2
k3 : 2
kumar : 1
3 : 5
6 : 3
7 : 3
8 : 1
ineuron : 2
data science  : 1

In [63]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q10 :Try to find out a number of occurances of all the data 

my_list = []
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            my_list.append(j);
    if type(i) == dict:
        for k,v in i.items():
            my_list.append(k);
            my_list.append(v);
print(my_list)
my_set = set(my_list) 
print(my_set)

my_dict ={}
count=0
for i in my_set:
    for j in  my_list:
        if i == j:
            my_dict[i] = count+1
print(my_dict.items())

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
{'k1', 1, 2, 3, 4, 5, 6, 7, 'kumar', 8, 'sudh', 45, 'data science ', 'k2', 'k3', 23, 'ineuron'}
dict_items([('k1', 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), ('kumar', 1), (8, 1), ('sudh', 1), (45, 1), ('data science ', 1), ('k2', 1), ('k3', 1), (23, 1), ('ineuron', 1)])

In [68]:
#q11 : Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))
        print(i.keys())

5
dict_keys(['k1', 'k2', 'k3', 3, 7])

In [1]:
#q12 : Try to filter out all the string data 

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
list1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                list1.append(j)       
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                list1.append(k)   
            if type(v)==str:
                list1.append(v)  
print(list1)

['ineuron', 'data science ', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar']

In [5]:
#q13 : Try to Find  out alphanum in data

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
list1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str and (j.isalnum()):
                list1.append(j)       
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str and k.isalnum():
                list1.append(k)   
            if type(v)==str and v.isalnum():
                list1.append(v)   
print(list1)

['ineuron', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar']

In [38]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 

l = [[1,2,3,4] , (2,3,4,5,6,'hi') , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
result=1
result1=1
result2=1
result3=1
dic={}
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                result = result * j
        dic['my_list']=result 
                  
    elif type(i)==tuple:
       
        for j in i:
            if type(j)==int:
                result1 = result1 * j
        dic['my_tuple']=result1
  
                
    elif type(i)==set:
       
        for j in i:
            if type(j)==int:
                result2 = result2 * j
        dic['my_set']=result2 
                          
                              
    else:
        for i in l:
            
            if type(i)==dict:
                
                for k,v in i.items():
                    if type(k)==int :
                        result3 = result3 * k 
                        
                    if type(v)==int:
                        result3 = result3 * v
                dic['my_dict']=result3 
        
print(dic.items())

dict_items([('my_list', 24), ('my_tuple', 1814400), ('my_set', 20700), ('my_dict', 1008)])

In [17]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [39]:
d= {'key1' :"sudh" , (3,4,5,65) : "fdsfdsd" , [3,4,5,6] :"345"}
d

TypeError: unhashable type: 'list'

In [116]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [40]:
d1 = {}
d1['a'] == None

KeyError: 'a'

In [41]:
s="aaaabbccd"
d1={}

for i in s:
    if d1[i]==None :
        key=i
        d1={key:0}
    else:
        d1[i]=d1[i]+1
print(d1)

KeyError: 'a'

In [120]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [121]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [130]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [131]:
print(t)
for i,j in t:
    print(i,j)

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

ValueError: too many values to unpack (expected 2)

In [132]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [133]:
d.items()

dict_items([('b', 2), ('a', 4), ('c', 2), ('d', 1)])

In [ ]:
1.	i = j = [3]
              i += j
              print(i,j)


2.	set = {"python", "coding", "tips", "for", "beginners"}
               print(set)
              ''.join(set)
3.	tuple = ("python", "coding", "tips", "for", "beginners")
               print(tuple)
              ''.join(tuple)
4.	print(dict(("py", "th", "on")))
5.	x, y = (0,1) if True else None, None
print(x)
6.	i = j = [3]
i += j
print(i,j)

In [139]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [142]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'tips', 'for', 'coding', 'python', 'beginners'}

'tips for coding python beginners'

In [144]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [145]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [159]:
x, y = (0,1) if True else None , None
print(x)

(0, 1)

In [54]:
i = j = [3]
i += j
print(i,j)

[3, 3] [3, 3]

In [104]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print("-",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print("-",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

- - - - - *
- - - - * * *
- - - * * * * *
- - * * * * * * *
- * * * * * * * * *
- - * * * * * * *
- - - * * * * *
- - - - * * *
- - - - - *

In [55]:
s = {1,1,1,11,1,1,4,4,4,4}

In [60]:
f = frozenset((1,2,2,3,34,4,4,4,4))
f

frozenset({1, 2, 3, 4, 34})

In [59]:
s.add(3)
s

{1, 3, 4, 11}

In [58]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("sudh" , end = "*")
    print()

sudh*
sudh*sudh*
sudh*sudh*sudh*
sudh*sudh*sudh*sudh*

In [61]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [62]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [63]:
l1

[2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [37]:
5%2

1

In [39]:
t = ("sudh" , "kumar" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"kumar"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

3
3
3
3

In [41]:
a = "sudh"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [65]:
a = "sudh"

if "3" in a:
    print("yes")
else:
    print("No")



b = ["sudh","kumar","vyas"]

if "3" in b:
    print("yes")
else:
    print("No")

No
No

In [45]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("sudh" , end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [48]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("sudh"),end= " ")
    for j in range (i+1):
        print("sudh",end=" " )
    for j in range(i):
        print("sudh",end= " ")
    print()

  sudh
 sudh sudh sudh
sudh sudh sudh sudh sudh

In [50]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

3
3
3
3

In [54]:
b = input()

890